USE [master]
GO
/****** Objeto: Database [DBVet] Fecha de script: 4/06/2026 14:42:23 ******/
USE [master]
GO
IF DB_ID('DBVet') IS NOT NULL
BEGIN
    ALTER DATABASE [DBVet] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [DBVet];
END
GO
CREATE DATABASE [DBVet]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBVet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBVet]
GO
/****** Objeto: Table [dbo].[Anamnesis] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anamnesis](
	[idAnamnesis] [int] IDENTITY(1,1) NOT NULL,
	[id_Consulta] [int] NOT NULL,
	[antecedentes] [nvarchar](500) NULL,
	[alergias] [int] NOT NULL,
	[cirugiasAnteriores] [int] NOT NULL,
	[medicamentosActuales] [nvarchar](500) NULL,
	[alimentacion] [nvarchar](500) NULL,
	[comportamiento] [nvarchar](500) NULL,
	[inicioSintomas] [nvarchar](500) NULL,
	[evolucionSintomas] [nvarchar](500) NULL,
	[observaciones] [nvarchar](500) NULL,
	[detalleAlergias] [nvarchar](500) NULL,
	[detalleCirugias] [nvarchar](500) NULL,
	[historialVacunacion] [nvarchar](500) NULL,
	[estiloVida] [nvarchar](500) NULL,
	[historialReproductivo] [int] NOT NULL,
	[reproduccionDetalle] [nvarchar](500) NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Anamnesis] PRIMARY KEY CLUSTERED 
(
	[idAnamnesis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Asociado] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asociado](
	[idAsociado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[ruc] [varchar](255) NOT NULL,
	[nombreDueno] [varchar](255) NOT NULL,
	[apellidoDueno] [varchar](255) NOT NULL,
	[id_NivelSuscripcion] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[correoElectronico] [nvarchar](255) NULL,
	[nroTelefono] [varchar](20) NULL,
	[direccion] [nvarchar](255) NULL,
	[diasAtencion] [varchar](100) NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_SuperAdminCreador] [int] NOT NULL,
	[id_SuperAdminModificador] [int] NULL,
	[id_SuperAdminEliminador] [int] NULL,
 CONSTRAINT [PK_Asociado] PRIMARY KEY CLUSTERED 
(
	[idAsociado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Atencion] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atencion](
	[idAtencion] [int] IDENTITY(1,1) NOT NULL,
	[id_CitaProgramada] [int] NULL,
	[id_Triaje] [int] NULL,
	[id_Asociado] [int] NOT NULL,
	[fechaAtencion] [date] NOT NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFin] [time](7) NULL,
	[observacion] [varchar](500) NOT NULL,
	[id_EstadoSalida] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EstadoAtencion] [int] NOT NULL,
	[id_Mascota] [int] NOT NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Atencion] PRIMARY KEY CLUSTERED 
(
	[idAtencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AtencionConsulta] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtencionConsulta](
	[idConsulta] [int] IDENTITY(1,1) NOT NULL,
	[id_Atencion] [int] NOT NULL,
	[evaluacionClinica] [nvarchar](500) NOT NULL,
	[tratamiento] [nvarchar](500) NOT NULL,
	[indicaciones] [nvarchar](500) NOT NULL,
	[observaciones] [nvarchar](500) NOT NULL,
	[requiereControl] [bit] NOT NULL,
	[fechaProximoControl] [date] NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[motivoConsulta] [varchar](500) NOT NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_AtencionConsulta] PRIMARY KEY CLUSTERED 
(
	[idConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AtencionEstetica] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtencionEstetica](
	[idEstetica] [int] IDENTITY(1,1) NOT NULL,
	[id_Atencion] [int] NOT NULL,
	[id_Servicio] [int] NOT NULL,
	[detalleServicio] [nvarchar](500) NOT NULL,
	[observaciones] [nvarchar](500) NULL,
	[id_Asociado] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[estado] [bit] NOT NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_AtencionEstetica] PRIMARY KEY CLUSTERED 
(
	[idEstetica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AtencionVacunacion] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtencionVacunacion](
	[idVacunacion] [int] IDENTITY(1,1) NOT NULL,
	[id_Atencion] [int] NULL,
	[id_Vacuna] [int] NOT NULL,
	[dosis] [int] NOT NULL,
	[fechaAplicacion] [date] NOT NULL,
	[fechaRefuerzo] [date] NULL,
	[observaciones] [nvarchar](500) NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[estado] [bit] NOT NULL,
	[id_Consulta] [int] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_AtencionVacunacion] PRIMARY KEY CLUSTERED 
(
	[idVacunacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Categoria] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombreCategoria] [varchar](500) NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CategoriaProducto] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProducto](
	[idCategoriaProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[fechaCreada] [datetime] NOT NULL,
	[fechaModificada] [datetime] NULL,
	[fechaEliminada] [datetime] NULL,
	[estado] [bit] NOT NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_CategoriaProducto] PRIMARY KEY CLUSTERED 
(
	[idCategoriaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CitaProgramada] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitaProgramada](
	[idCitaProgramada] [int] IDENTITY(1,1) NOT NULL,
	[id_Dueno] [int] NOT NULL,
	[id_Programacion] [int] NOT NULL,
	[id_Mascota] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFin] [time](7) NULL,
	[id_EstadoCita] [int] NOT NULL,
	[motivo] [varchar](500) NOT NULL,
	[id_Asociado] [int] NULL,
	[id_Categoria] [int] NOT NULL,
	[id_Servicio] [int] NOT NULL,
	[motivoReprogramacion] [varchar](500) NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_CitaProgramada] PRIMARY KEY CLUSTERED 
(
	[idCitaProgramada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ClaseMovimiento] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaseMovimiento](
	[idClaseMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](500) NULL,
 CONSTRAINT [PK_ClaseMovimiento] PRIMARY KEY CLUSTERED 
(
	[idClaseMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Confirmaciones] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Confirmaciones](
	[idConfirmacion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Confirmaciones] PRIMARY KEY CLUSTERED 
(
	[idConfirmacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Consulta_Diagnostico] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consulta_Diagnostico](
	[idDiagnostico] [int] IDENTITY(1,1) NOT NULL,
	[id_Consulta] [int] NOT NULL,
	[id_DiagnosticoCatalogo] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Consulta_Diagnostico] PRIMARY KEY CLUSTERED 
(
	[idDiagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DiagnosticoCatalogo] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosticoCatalogo](
	[idDiagnosticoCatalogo] [int] IDENTITY(1,1) NOT NULL,
	[codigoDiagnostico] [nvarchar](500) NOT NULL,
	[nombreDiagnostico] [nvarchar](500) NOT NULL,
	[descripcion] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_DiagnosticoCatalogo] PRIMARY KEY CLUSTERED 
(
	[idDiagnosticoCatalogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DocumentoIdentidad] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentoIdentidad](
	[idDocumentoIdentidad] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[estado] [bit] NOT NULL,
	[id_Asociado] [int] NOT NULL,
 CONSTRAINT [PK_DocumentoIdentidad] PRIMARY KEY CLUSTERED 
(
	[idDocumentoIdentidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Dueno] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dueno](
	[idDueno] [int] IDENTITY(1,1) NOT NULL,
	[id_DocumentoIdentidad] [int] NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellidoPaterno] [varchar](100) NOT NULL,
	[apellidoMaterno] [varchar](100) NOT NULL,
	[nroDocumento] [varchar](20) NOT NULL,
	[nroTelefono] [varchar](20) NULL,
	[correoElectronico] [nvarchar](100) NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[estado] [bit] NOT NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Dueno] PRIMARY KEY CLUSTERED 
(
	[idDueno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Dueno_Mascota] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dueno_Mascota](
	[idDuenoMascota] [int] IDENTITY(1,1) NOT NULL,
	[id_Dueno] [int] NULL,
	[id_Mascota] [int] NULL,
	[id_Asociado] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Dueno_Mascota] PRIMARY KEY CLUSTERED 
(
	[idDuenoMascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EmpleadoAsociado] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleadoAsociado](
	[idEmpleadoAsociado] [int] IDENTITY(1,1) NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[correo] [nvarchar](255) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[nombreEmpleado] [varchar](255) NOT NULL,
	[apellidoPaterno] [varchar](255) NOT NULL,
	[apellidoMaterno] [varchar](255) NOT NULL,
	[nroDocumento] [varchar](255) NOT NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[id_DocumentoIdentidad] [int] NOT NULL,
	[id_RolesClinica] [int] NOT NULL,
	[correoElectronico] [nvarchar](255) NULL,
	[nroTelefono] [varchar](20) NULL,
	[estado] [bit] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_EmpleadoAsociado] PRIMARY KEY CLUSTERED 
(
	[idEmpleadoAsociado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EspecieRaza] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieRaza](
	[idEspecieRaza] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NOT NULL,
	[id_Especie] [int] NULL,
	[estado] [bit] NOT NULL,
	[fechaCreacion] [datetime] NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_Asociado] [int] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_EspecieRaza] PRIMARY KEY CLUSTERED 
(
	[idEspecieRaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoAtencion] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoAtencion](
	[idEstadoAtencion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NOT NULL,
 CONSTRAINT [PK_EstadoAtencion] PRIMARY KEY CLUSTERED 
(
	[idEstadoAtencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoCita] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCita](
	[idEstadoCita] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
 CONSTRAINT [PK_EstadoCita] PRIMARY KEY CLUSTERED 
(
	[idEstadoCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoProgramacion] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoProgramacion](
	[idEstadoProgramacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_EstadoProgramacion] PRIMARY KEY CLUSTERED 
(
	[idEstadoProgramacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoSalidaAtencion] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoSalidaAtencion](
	[idEstadoSalida] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NULL,
	[descripcion] [nvarchar](500) NULL,
 CONSTRAINT [PK_EstadoSalidaAtencion] PRIMARY KEY CLUSTERED 
(
	[idEstadoSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Mascota] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascota](
	[idMascota] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[id_Especie] [int] NULL,
	[id_Raza] [int] NULL,
	[id_Asociado] [int] NOT NULL,
	[fechaNacimiento] [date] NULL,
	[sexo] [varchar](10) NULL,
	[tamanio] [varchar](20) NULL,
	[notas] [nvarchar](500) NULL,
	[estado] [bit] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
	[especieTexto] [nvarchar](100) NULL,
	[razaTexto] [nvarchar](100) NULL,
 CONSTRAINT [PK_Mascota] PRIMARY KEY CLUSTERED 
(
	[idMascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MedicamentoCatalogo] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicamentoCatalogo](
	[idMedicamento] [int] IDENTITY(1,1) NOT NULL,
	[codigoMedicamento] [nvarchar](500) NOT NULL,
	[nombreMedicamento] [nvarchar](500) NOT NULL,
	[descripcion] [nvarchar](500) NOT NULL,
	[concentracion] [nvarchar](500) NOT NULL,
	[presentacion] [varchar](500) NOT NULL,
 CONSTRAINT [PK_MedicamentoCatalogo] PRIMARY KEY CLUSTERED 
(
	[idMedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MetodoIngreso] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoIngreso](
	[idMetodoIngreso] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NULL,
	[descripcion] [varchar](500) NULL,
	[id_Asociado] [int] NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_MetodoIngreso] PRIMARY KEY CLUSTERED 
(
	[idMetodoIngreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MetodoPago] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[idMetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_MetodoPago] PRIMARY KEY CLUSTERED 
(
	[idMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MotivoMovimiento] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotivoMovimiento](
	[idMotivoMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
 CONSTRAINT [PK_MotivoMovimiento] PRIMARY KEY CLUSTERED 
(
	[idMotivoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MovimientoProducto] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoProducto](
	[idMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_Producto] [int] NOT NULL,
	[id_ClaseMovimiento] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[stockAnterior] [int] NOT NULL,
	[stockNuevo] [int] NOT NULL,
	[id_MotivoMovimiento] [int] NOT NULL,
	[fechaCreacion] [datetime] NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_Asociado] [int] NOT NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_MovimientoProducto] PRIMARY KEY CLUSTERED 
(
	[idMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Nivel_Permiso] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel_Permiso](
	[id_Nivel_Permiso] [int] IDENTITY(1,1) NOT NULL,
	[id_Permiso] [int] NOT NULL,
	[id_NivelSuscripcion] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[estado] [bit] NOT NULL,
	[id_SuperAdminCreador] [int] NOT NULL,
	[id_SuperAdminModificador] [int] NULL,
	[id_SuperAdminEliminador] [int] NULL,
 CONSTRAINT [PK_Nivel_Permiso] PRIMARY KEY CLUSTERED 
(
	[id_Nivel_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[NivelSuscripcion] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelSuscripcion](
	[idNivel] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[cantidadUsuario] [int] NOT NULL,
	[precioMensual] [numeric](38, 2) NULL,
	[precioAnual] [numeric](38, 2) NULL,
	[estado] [bit] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaEliminacion] [datetime] NULL,
	[fechaModificacion] [datetime] NULL,
	[id_SuperAdminCreador] [int] NOT NULL,
	[id_SuperAdminModificador] [int] NULL,
	[id_SuperAdminEliminador] [int] NULL,
 CONSTRAINT [PK_NivelSuscripcion] PRIMARY KEY CLUSTERED 
(
	[idNivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[idPermiso] [int] IDENTITY(1,1) NOT NULL,
	[nombrePermiso] [varchar](255) NOT NULL,
	[descripcionPermiso] [nvarchar](255) NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Presentacion] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presentacion](
	[idPresentacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Presentacion] PRIMARY KEY CLUSTERED 
(
	[idPresentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Producto] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NOT NULL,
	[id_Categoria] [int] NOT NULL,
	[fechaFabricacion] [date] NOT NULL,
	[fechaVencimiento] [date] NOT NULL,
	[lote] [varchar](500) NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[estado] [bit] NOT NULL,
	[cantidadIngreso] [int] NOT NULL,
	[precioCompra] [numeric](38, 2) NULL,
	[concentracion] [varchar](500) NULL,
	[precioVenta] [numeric](38, 2) NULL,
	[requiereReceta] [bit] NOT NULL,
	[proveedor] [varchar](500) NULL,
	[id_Presentacion] [int] NULL,
	[cantidadMinima] [int] NOT NULL,
	[id_EmpleadoAsociado] [int] NOT NULL,
	[requiereInventario] [bit] NOT NULL,
	[notas] [nvarchar](500) NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Programacion] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programacion](
	[idProgramacion] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[id_Turno] [int] NOT NULL,
	[id_EmpleadoRegistrador] [int] NOT NULL,
	[id_EstadoProgramacion] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_Asociado] [int] NOT NULL,
	[id_Categoria] [int] NOT NULL,
	[id_Servicio] [int] NOT NULL,
	[ambiente] [varchar](255) NULL,
	[descripcion] [nvarchar](500) NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Programacion] PRIMARY KEY CLUSTERED 
(
	[idProgramacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Receta] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receta](
	[idReceta] [int] IDENTITY(1,1) NOT NULL,
	[id_Consulta] [int] NOT NULL,
	[fechaReceta] [datetime] NOT NULL,
	[id_EmpleadoAsociado] [int] NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Receta] PRIMARY KEY CLUSTERED 
(
	[idReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RecetaDetalle] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecetaDetalle](
	[idRecetaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[id_Receta] [int] NOT NULL,
	[id_Medicamento] [int] NOT NULL,
	[dosis] [varchar](500) NOT NULL,
	[frecuencia] [varchar](500) NOT NULL,
	[duracion] [varchar](500) NOT NULL,
	[viaAdministracion] [int] NOT NULL,
	[indicacionesEspecificas] [nvarchar](500) NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_RecetaDetalle] PRIMARY KEY CLUSTERED 
(
	[idRecetaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol_Permiso] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Permiso](
	[id_Rol_Permiso] [int] IDENTITY(1,1) NOT NULL,
	[id_RolesClinica] [int] NOT NULL,
	[id_Permiso] [int] NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Rol_Permiso] PRIMARY KEY CLUSTERED 
(
	[id_Rol_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolesClinica] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesClinica](
	[idRoles] [int] IDENTITY(1,1) NOT NULL,
	[nombreRol] [varchar](255) NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[estado] [bit] NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_RolesClinica] PRIMARY KEY CLUSTERED 
(
	[idRoles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Servicio] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[idServicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[id_Categoria] [int] NULL,
	[id_Asociado] [int] NOT NULL,
	[precio] [numeric](38, 2) NULL,
	[requiereTriaje] [bit] NOT NULL,
	[estado] [bit] NOT NULL,
	[duracionEstimada] [int] NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Servicio] PRIMARY KEY CLUSTERED 
(
	[idServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[SuperAdmin] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuperAdmin](
	[idSuper] [int] IDENTITY(1,1) NOT NULL,
	[correo] [nvarchar](500) NOT NULL,
	[contrasena] [nvarchar](500) NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[estado] [bit] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
 CONSTRAINT [PK_SuperAdmin] PRIMARY KEY CLUSTERED 
(
	[idSuper] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Triaje] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Triaje](
	[idTriaje] [int] IDENTITY(1,1) NOT NULL,
	[id_CitaProgramada] [int] NULL,
	[codigoTemporal] [varchar](500) NULL,
	[id_Mascota] [int] NULL,
	[prioridad] [int] NULL,
	[estado] [bit] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_Asociado] [int] NOT NULL,
	[id_MetodoIngreso] [int] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Triaje] PRIMARY KEY CLUSTERED 
(
	[idTriaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TriajeDetalle] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TriajeDetalle](
	[idTriajeDetalle] [int] IDENTITY(1,1) NOT NULL,
	[temperatura] [numeric](38, 2) NULL,
	[peso] [numeric](38, 2) NULL,
	[observaciones] [varchar](500) NULL,
	[alergias] [nvarchar](500) NULL,
	[id_Triaje] [int] NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_TriajeDetalle] PRIMARY KEY CLUSTERED 
(
	[idTriajeDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Turno] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[idTurno] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFin] [time](7) NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[estado] [bit] NOT NULL,
	[id_Asociado] [int] NOT NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[idTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Venta] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[codigoVenta] [nvarchar](500) NOT NULL,
	[id_Atencion] [int] NULL,
	[id_Cita] [int] NULL,
	[id_Dueno] [int] NULL,
	[tipoComprobante] [varchar](20) NULL,
	[fechaVenta] [datetime] NOT NULL,
	[subTotal] [numeric](38, 2) NULL,
	[descuento] [numeric](38, 2) NULL,
	[igv] [numeric](38, 2) NULL,
	[total] [numeric](38, 2) NULL,
	[montoPagado] [numeric](38, 2) NULL,
	[estadoVenta] [int] NULL,
	[id_MetodoPago] [int] NOT NULL,
	[id_EmpleadoAsociado] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
	[dniComprador] [varchar](500) NULL,
	[nombreComprador] [varchar](500) NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VentaDetalle] Fecha de script: 4/06/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaDetalle](
	[idVentaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[id_Venta] [int] NOT NULL,
	[id_Producto] [int] NULL,
	[id_Servicio] [int] NULL,
	[cantidad] [int] NOT NULL,
	[precioUnitario] [numeric](38, 2) NULL,
	[subtotal] [numeric](38, 2) NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[fechaModificacion] [datetime] NULL,
	[fechaEliminacion] [datetime] NULL,
	[id_EmpleadoCreador] [int] NOT NULL,
	[id_EmpleadoModificador] [int] NULL,
	[id_EmpleadoEliminador] [int] NULL,
 CONSTRAINT [PK_VentaDetalle] PRIMARY KEY CLUSTERED 
(
	[idVentaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Anamnesis] ON 

SET IDENTITY_INSERT [dbo].[Anamnesis] OFF
GO
SET IDENTITY_INSERT [dbo].[Asociado] ON 

INSERT [dbo].[Asociado] ([idAsociado], [nombre], [ruc], [nombreDueno], [apellidoDueno], [id_NivelSuscripcion], [activo], [correoElectronico], [nroTelefono], [direccion], [diasAtencion], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_SuperAdminCreador], [id_SuperAdminModificador], [id_SuperAdminEliminador]) VALUES (1, N'VetClinic', N'20000000001', N'Admin', N'VetClinic', 1, 1, N'contacto@vetclinic.com', N'999000000', N'Lima, Peru', N'Lunes a Viernes', CAST(N'2026-06-04T11:54:26.150' AS DateTime), NULL, NULL, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Asociado] OFF
GO
SET IDENTITY_INSERT [dbo].[Atencion] ON 

INSERT [dbo].[Atencion] ([idAtencion], [id_CitaProgramada], [id_Triaje], [id_Asociado], [fechaAtencion], [horaInicio], [horaFin], [observacion], [id_EstadoSalida], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EstadoAtencion], [id_Mascota], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, 1, 1, 1, CAST(N'2026-06-03' AS Date), CAST(N'10:00:00' AS Time), NULL, N'Atención iniciada', 1, CAST(N'2026-06-02T19:49:04.963' AS DateTime), NULL, NULL, 1, 1, 1, NULL, NULL)
INSERT [dbo].[Atencion] ([idAtencion], [id_CitaProgramada], [id_Triaje], [id_Asociado], [fechaAtencion], [horaInicio], [horaFin], [observacion], [id_EstadoSalida], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EstadoAtencion], [id_Mascota], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1002, 2, 1002, 1, CAST(N'2026-06-03' AS Date), CAST(N'22:53:41' AS Time), NULL, N'paciente estable', 1, CAST(N'2026-06-02T22:53:41.840' AS DateTime), NULL, NULL, 1, 2, 1, NULL, NULL)
INSERT [dbo].[Atencion] ([idAtencion], [id_CitaProgramada], [id_Triaje], [id_Asociado], [fechaAtencion], [horaInicio], [horaFin], [observacion], [id_EstadoSalida], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EstadoAtencion], [id_Mascota], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1003, 4, 1003, 1, CAST(N'2026-06-04' AS Date), CAST(N'22:07:56' AS Time), NULL, N'paciente sin observaciones', 1, CAST(N'2026-06-03T22:07:56.420' AS DateTime), NULL, NULL, 1, 4, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Atencion] OFF
GO
SET IDENTITY_INSERT [dbo].[AtencionConsulta] ON 

INSERT [dbo].[AtencionConsulta] ([idConsulta], [id_Atencion], [evaluacionClinica], [tratamiento], [indicaciones], [observaciones], [requiereControl], [fechaProximoControl], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [motivoConsulta], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, 1, N'Paciente en buen estado general', N'Vacuna antirrábica aplicada', N'Reposo 24 horas', N'Sin novedades', 1, CAST(N'2027-06-03' AS Date), CAST(N'2026-06-02T19:49:44.287' AS DateTime), NULL, NULL, N'Control general rutinario', 1, NULL, NULL)
INSERT [dbo].[AtencionConsulta] ([idConsulta], [id_Atencion], [evaluacionClinica], [tratamiento], [indicaciones], [observaciones], [requiereControl], [fechaProximoControl], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [motivoConsulta], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, 1, N'control general rutinario, paciente en buen estado', N'vacuna antirrabica aplicada', N'sin novedades', N'sin novedades', 1, CAST(N'2026-08-05' AS Date), CAST(N'2026-06-02T20:26:28.350' AS DateTime), NULL, NULL, N'Consulta médica', 1, NULL, NULL)
INSERT [dbo].[AtencionConsulta] ([idConsulta], [id_Atencion], [evaluacionClinica], [tratamiento], [indicaciones], [observaciones], [requiereControl], [fechaProximoControl], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [motivoConsulta], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (3, 1, N'control general rutinario, paciente en buen estado', N'vacuna antirrabica aplicada', N'sin novedades', N'sin novedades', 1, CAST(N'2026-07-06' AS Date), CAST(N'2026-06-02T20:31:01.853' AS DateTime), NULL, NULL, N'Consulta médica', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AtencionConsulta] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([idCategoria], [nombreCategoria], [id_Asociado], [estado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, N'Consulta', 1, 1, CAST(N'2026-06-02T19:40:01.880' AS DateTime), NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[CitaProgramada] ON 

INSERT [dbo].[CitaProgramada] ([idCitaProgramada], [id_Dueno], [id_Programacion], [id_Mascota], [fecha], [horaInicio], [horaFin], [id_EstadoCita], [motivo], [id_Asociado], [id_Categoria], [id_Servicio], [motivoReprogramacion], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, 1, 1, 1, CAST(N'2026-06-03' AS Date), CAST(N'10:00:00' AS Time), NULL, 2, N'Control general rutinario', NULL, 1, 1, NULL, CAST(N'2026-06-02T19:40:01.883' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[CitaProgramada] ([idCitaProgramada], [id_Dueno], [id_Programacion], [id_Mascota], [fecha], [horaInicio], [horaFin], [id_EstadoCita], [motivo], [id_Asociado], [id_Categoria], [id_Servicio], [motivoReprogramacion], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, 2, 2, 2, CAST(N'2026-06-03' AS Date), CAST(N'10:30:00' AS Time), NULL, 2, N'Baño y corte mensual', NULL, 1, 3, NULL, CAST(N'2026-06-02T20:39:24.213' AS DateTime), CAST(N'2026-06-02T22:55:54.747' AS DateTime), NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CitaProgramada] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentoIdentidad] ON 

INSERT [dbo].[DocumentoIdentidad] ([idDocumentoIdentidad], [descripcion], [estado], [id_Asociado]) VALUES (1, N'DNI', 1, 1)
SET IDENTITY_INSERT [dbo].[DocumentoIdentidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Dueno] ON 

INSERT [dbo].[Dueno] ([idDueno], [id_DocumentoIdentidad], [id_Asociado], [nombre], [apellidoPaterno], [apellidoMaterno], [nroDocumento], [nroTelefono], [correoElectronico], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [estado], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, 1, 1, N'Pedro', N'Jiménez', N'Torres', N'75069074', N'999888777', N'pedro@gmail.com', CAST(N'2026-06-02T19:40:01.883' AS DateTime), NULL, NULL, 1, 1, NULL, NULL)
INSERT [dbo].[Dueno] ([idDueno], [id_DocumentoIdentidad], [id_Asociado], [nombre], [apellidoPaterno], [apellidoMaterno], [nroDocumento], [nroTelefono], [correoElectronico], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [estado], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, 1, 1, N'Ana', N'Rodríguez', N'Pérez', N'45123678', N'987654321', N'ana@gmail.com', CAST(N'2026-06-02T20:39:24.210' AS DateTime), NULL, NULL, 1, 1, NULL, NULL)
INSERT [dbo].[Dueno] ([idDueno], [id_DocumentoIdentidad], [id_Asociado], [nombre], [apellidoPaterno], [apellidoMaterno], [nroDocumento], [nroTelefono], [correoElectronico], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [estado], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (3, 1, 1, N'Sandra', N'Gómez', N'Torres', N'76543210', N'956789123', N'sandra@gmail.com', CAST(N'2026-06-02T20:39:24.210' AS DateTime), NULL, NULL, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Dueno] OFF
GO
SET IDENTITY_INSERT [dbo].[Dueno_Mascota] ON 

INSERT [dbo].[Dueno_Mascota] ([idDuenoMascota], [id_Dueno], [id_Mascota], [id_Asociado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, 1, 1, 1, CAST(N'2026-06-02T19:40:01.883' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Dueno_Mascota] ([idDuenoMascota], [id_Dueno], [id_Mascota], [id_Asociado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, 2, 2, 1, CAST(N'2026-06-02T20:39:24.213' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Dueno_Mascota] ([idDuenoMascota], [id_Dueno], [id_Mascota], [id_Asociado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (3, 3, 3, 1, CAST(N'2026-06-02T20:39:24.213' AS DateTime), NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Dueno_Mascota] OFF
GO
SET IDENTITY_INSERT [dbo].[EmpleadoAsociado] ON 

SET IDENTITY_INSERT [dbo].[EmpleadoAsociado] OFF
GO
SET IDENTITY_INSERT [dbo].[EspecieRaza] ON 

INSERT [dbo].[EspecieRaza] ([idEspecieRaza], [nombre], [id_Especie], [estado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_Asociado], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, N'Perro', NULL, 1, NULL, NULL, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[EspecieRaza] ([idEspecieRaza], [nombre], [id_Especie], [estado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_Asociado], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, N'Bulldog Francés', 1, 1, NULL, NULL, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[EspecieRaza] ([idEspecieRaza], [nombre], [id_Especie], [estado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_Asociado], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (3, N'Siamés', 2, 1, NULL, NULL, NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[EspecieRaza] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoCita] ON 

INSERT [dbo].[EstadoCita] ([idEstadoCita], [nombre], [descripcion]) VALUES (1, N'Pendiente', N'Cita sin atender')
INSERT [dbo].[EstadoCita] ([idEstadoCita], [nombre], [descripcion]) VALUES (2, N'Completado', N'Cita atendida')
INSERT [dbo].[EstadoCita] ([idEstadoCita], [nombre], [descripcion]) VALUES (3, N'Cancelado', N'Cita cancelada')
SET IDENTITY_INSERT [dbo].[EstadoCita] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoProgramacion] ON 

INSERT [dbo].[EstadoProgramacion] ([idEstadoProgramacion], [nombre], [descripcion], [id_Asociado], [estado]) VALUES (1, N'Activo', N'Programación activa', 1, 1)
SET IDENTITY_INSERT [dbo].[EstadoProgramacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Mascota] ON 

INSERT [dbo].[Mascota] ([idMascota], [nombre], [id_Especie], [id_Raza], [id_Asociado], [fechaNacimiento], [sexo], [tamanio], [notas], [estado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador], [especieTexto], [razaTexto]) VALUES (1, N'Rocky', 1, 2, 1, CAST(N'2025-01-15' AS Date), N'Macho', N'Mediano', NULL, 1, CAST(N'2026-06-02T19:40:01.883' AS DateTime), NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Mascota] ([idMascota], [nombre], [id_Especie], [id_Raza], [id_Asociado], [fechaNacimiento], [sexo], [tamanio], [notas], [estado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador], [especieTexto], [razaTexto]) VALUES (2, N'Luna', 6, 3, 1, CAST(N'2024-03-10' AS Date), N'Hembra', N'Pequeño', NULL, 1, CAST(N'2026-06-02T20:39:24.210' AS DateTime), NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Mascota] ([idMascota], [nombre], [id_Especie], [id_Raza], [id_Asociado], [fechaNacimiento], [sexo], [tamanio], [notas], [estado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador], [especieTexto], [razaTexto]) VALUES (3, N'Thor', 1, 4, 1, CAST(N'2023-06-15' AS Date), N'Macho', N'Grande', NULL, 1, CAST(N'2026-06-02T20:39:24.210' AS DateTime), NULL, NULL, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Mascota] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicamentoCatalogo] ON 

INSERT [dbo].[MedicamentoCatalogo] ([idMedicamento], [codigoMedicamento], [nombreMedicamento], [descripcion], [concentracion], [presentacion]) VALUES (1, N'MED-001', N'Amoxicilina 500mg', N'Antibiótico de amplio espectro', N'500mg', N'Cápsulas')
INSERT [dbo].[MedicamentoCatalogo] ([idMedicamento], [codigoMedicamento], [nombreMedicamento], [descripcion], [concentracion], [presentacion]) VALUES (2, N'MED-002', N'Meloxicam 1mg', N'Antiinflamatorio no esteroideo', N'1mg', N'Comprimidos')
INSERT [dbo].[MedicamentoCatalogo] ([idMedicamento], [codigoMedicamento], [nombreMedicamento], [descripcion], [concentracion], [presentacion]) VALUES (3, N'MED-003', N'Tramadol 50mg', N'Analgésico opioide', N'50mg', N'Inyectable')
SET IDENTITY_INSERT [dbo].[MedicamentoCatalogo] OFF
GO
SET IDENTITY_INSERT [dbo].[Nivel_Permiso] ON 

INSERT [dbo].[Nivel_Permiso] ([id_Nivel_Permiso], [id_Permiso], [id_NivelSuscripcion], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [estado], [id_SuperAdminCreador], [id_SuperAdminModificador], [id_SuperAdminEliminador]) VALUES (1, 1, 1, CAST(N'2026-06-04T11:54:26.180' AS DateTime), NULL, NULL, 1, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Nivel_Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[NivelSuscripcion] ON 

INSERT [dbo].[NivelSuscripcion] ([idNivel], [nombre], [cantidadUsuario], [precioMensual], [precioAnual], [estado], [fechaCreacion], [fechaEliminacion], [fechaModificacion], [id_SuperAdminCreador], [id_SuperAdminModificador], [id_SuperAdminEliminador]) VALUES (1, N'prueba', 10, CAST(0.00 AS Numeric(38, 2)), CAST(0.00 AS Numeric(38, 2)), 1, CAST(N'2026-06-04T11:54:26.147' AS DateTime), NULL, NULL, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NivelSuscripcion] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([idPermiso], [nombrePermiso], [descripcionPermiso], [id_Asociado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [estado]) VALUES (1, N'SuperAdmin', N'Acceso total al sistema', 1, CAST(N'2026-06-04T11:54:26.173' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Programacion] ON 

INSERT [dbo].[Programacion] ([idProgramacion], [fecha], [id_Turno], [id_EmpleadoRegistrador], [id_EstadoProgramacion], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_Asociado], [id_Categoria], [id_Servicio], [ambiente], [descripcion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, CAST(N'2026-06-03' AS Date), 1, 1, 1, CAST(N'2026-06-02T19:40:01.883' AS DateTime), NULL, NULL, 1, 1, 1, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Programacion] ([idProgramacion], [fecha], [id_Turno], [id_EmpleadoRegistrador], [id_EstadoProgramacion], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_Asociado], [id_Categoria], [id_Servicio], [ambiente], [descripcion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, CAST(N'2026-06-03' AS Date), 1, 1, 1, CAST(N'2026-06-02T20:39:24.213' AS DateTime), NULL, NULL, 1, 1, 1, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Programacion] ([idProgramacion], [fecha], [id_Turno], [id_EmpleadoRegistrador], [id_EstadoProgramacion], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_Asociado], [id_Categoria], [id_Servicio], [ambiente], [descripcion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (3, CAST(N'2026-06-03' AS Date), 1, 1, 1, CAST(N'2026-06-02T20:39:24.213' AS DateTime), NULL, NULL, 1, 1, 1, NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Programacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Receta] ON 

INSERT [dbo].[Receta] ([idReceta], [id_Consulta], [fechaReceta], [id_EmpleadoAsociado], [id_Asociado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, 1, CAST(N'2026-06-03T10:30:00.000' AS DateTime), 1, 1, CAST(N'2026-06-02T19:52:21.827' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Receta] ([idReceta], [id_Consulta], [fechaReceta], [id_EmpleadoAsociado], [id_Asociado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, 3, CAST(N'2026-06-03T01:31:25.023' AS DateTime), 1, 1, CAST(N'2026-06-02T20:31:25.033' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Receta] ([idReceta], [id_Consulta], [fechaReceta], [id_EmpleadoAsociado], [id_Asociado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1002, 1002, CAST(N'2026-06-03T03:55:54.673' AS DateTime), 1, 1, CAST(N'2026-06-02T22:55:54.680' AS DateTime), NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Receta] OFF
GO
SET IDENTITY_INSERT [dbo].[RecetaDetalle] ON 

INSERT [dbo].[RecetaDetalle] ([idRecetaDetalle], [id_Receta], [id_Medicamento], [dosis], [frecuencia], [duracion], [viaAdministracion], [indicacionesEspecificas], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, 1, 1, N'1 cápsula', N'Cada 8 horas', N'7 días', 1, N'Administrar con comida', CAST(N'2026-06-02T19:52:54.977' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[RecetaDetalle] ([idRecetaDetalle], [id_Receta], [id_Medicamento], [dosis], [frecuencia], [duracion], [viaAdministracion], [indicacionesEspecificas], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, 2, 1, N'1', N'cada 8 horas', N'7 dias', 1, N'administrar con comida', CAST(N'2026-06-02T20:31:25.063' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[RecetaDetalle] ([idRecetaDetalle], [id_Receta], [id_Medicamento], [dosis], [frecuencia], [duracion], [viaAdministracion], [indicacionesEspecificas], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1002, 1002, 2, N'2', N'cada 12 horas', N'3', 1, N'administrar con comida', CAST(N'2026-06-02T22:55:54.710' AS DateTime), NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RecetaDetalle] OFF
GO
SET IDENTITY_INSERT [dbo].[RolesClinica] ON 

INSERT [dbo].[RolesClinica] ([idRoles], [nombreRol], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [estado], [id_Asociado], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, N'Administrador', CAST(N'2026-06-04T11:54:26.160' AS DateTime), NULL, NULL, 1, 1, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RolesClinica] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([idServicio], [nombre], [id_Categoria], [id_Asociado], [precio], [requiereTriaje], [estado], [duracionEstimada], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, N'Consulta médica', 1, 1, CAST(50.00 AS Numeric(38, 2)), 1, 1, NULL, CAST(N'2026-06-02T19:40:01.880' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Servicio] ([idServicio], [nombre], [id_Categoria], [id_Asociado], [precio], [requiereTriaje], [estado], [duracionEstimada], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, N'Vacunación', 1, 1, CAST(30.00 AS Numeric(38, 2)), 0, 1, NULL, CAST(N'2026-06-02T20:39:24.213' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Servicio] ([idServicio], [nombre], [id_Categoria], [id_Asociado], [precio], [requiereTriaje], [estado], [duracionEstimada], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (3, N'Baño y corte', 1, 1, CAST(40.00 AS Numeric(38, 2)), 0, 1, NULL, CAST(N'2026-06-02T20:39:24.213' AS DateTime), NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[SuperAdmin] ON 

INSERT [dbo].[SuperAdmin] ([idSuper], [correo], [contrasena], [fechaCreacion], [estado], [fechaModificacion], [fechaEliminacion]) VALUES (1, N'admin@gmail.com', N'admin123', CAST(N'2026-05-31T02:27:41.070' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[SuperAdmin] ([idSuper], [correo], [contrasena], [fechaCreacion], [estado], [fechaModificacion], [fechaEliminacion]) VALUES (2, N'superadmin@vetclinic.com', N'super123', CAST(N'2026-06-04T11:54:26.147' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SuperAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[Triaje] ON 

INSERT [dbo].[Triaje] ([idTriaje], [id_CitaProgramada], [codigoTemporal], [id_Mascota], [prioridad], [estado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_Asociado], [id_MetodoIngreso], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, 1, N'TRI-2026-001', 1, 1, 1, CAST(N'2026-06-02T19:46:55.260' AS DateTime), NULL, NULL, 1, 1, 1, NULL, NULL)
INSERT [dbo].[Triaje] ([idTriaje], [id_CitaProgramada], [codigoTemporal], [id_Mascota], [prioridad], [estado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_Asociado], [id_MetodoIngreso], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, 1, N'TRI-2026-001', 1, 1, 1, CAST(N'2026-06-02T20:06:56.223' AS DateTime), NULL, NULL, 1, 1, 1, NULL, NULL)
INSERT [dbo].[Triaje] ([idTriaje], [id_CitaProgramada], [codigoTemporal], [id_Mascota], [prioridad], [estado], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_Asociado], [id_MetodoIngreso], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (3, 1, N'TRI-2026-001', 1, 1, 1, CAST(N'2026-06-02T20:07:01.810' AS DateTime), NULL, NULL, 1, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Triaje] OFF
GO
SET IDENTITY_INSERT [dbo].[TriajeDetalle] ON 

INSERT [dbo].[TriajeDetalle] ([idTriajeDetalle], [temperatura], [peso], [observaciones], [alergias], [id_Triaje], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, CAST(38.50 AS Numeric(38, 2)), CAST(12.00 AS Numeric(38, 2)), N'Paciente estable', N'Ninguna', 1, CAST(N'2026-06-02T19:48:25.443' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[TriajeDetalle] ([idTriajeDetalle], [temperatura], [peso], [observaciones], [alergias], [id_Triaje], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (2, CAST(38.50 AS Numeric(38, 2)), CAST(12.00 AS Numeric(38, 2)), N'paciente estable', N'ninguna', 2, CAST(N'2026-06-02T20:06:56.263' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[TriajeDetalle] ([idTriajeDetalle], [temperatura], [peso], [observaciones], [alergias], [id_Triaje], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (3, CAST(38.50 AS Numeric(38, 2)), CAST(12.00 AS Numeric(38, 2)), N'paciente estable', N'ninguna', 3, CAST(N'2026-06-02T20:07:01.817' AS DateTime), NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TriajeDetalle] OFF
GO
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([idTurno], [nombre], [horaInicio], [horaFin], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [estado], [id_Asociado], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES (1, N'Mañana', CAST(N'08:00:00' AS Time), CAST(N'13:00:00' AS Time), CAST(N'2026-06-02T19:40:01.880' AS DateTime), NULL, NULL, 1, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Turno] OFF
GO
/****** Objeto: Index [UQ_Atencion_CitaProgramada] Fecha de script: 4/06/2026 14:42:23 ******/
-- ============================================================
-- DATOS AGREGADOS: segundo veterinario (turno tarde)
-- ============================================================
SET IDENTITY_INSERT [dbo].[Turno] ON;
INSERT [dbo].[Turno] ([idTurno], [nombre], [horaInicio], [horaFin], [fechaCreacion], [fechaModificacion], [fechaEliminacion], [estado], [id_Asociado], [id_EmpleadoCreador], [id_EmpleadoModificador], [id_EmpleadoEliminador]) VALUES
(2, N'Tarde', '14:00:00.0000000', '19:00:00.0000000', '2026-06-13T22:38:52.710', NULL, NULL, 1, 1, 1, 1, NULL);
SET IDENTITY_INSERT [dbo].[Turno] OFF;
GO
SET IDENTITY_INSERT [dbo].[EmpleadoAsociado] ON;
SET IDENTITY_INSERT [dbo].[EmpleadoAsociado] OFF;
GO
SET IDENTITY_INSERT [dbo].[Programacion] ON;
SET IDENTITY_INSERT [dbo].[Programacion] OFF;
GO

ALTER TABLE [dbo].[Atencion] ADD  CONSTRAINT [UQ_Atencion_CitaProgramada] UNIQUE NONCLUSTERED 
(
	[id_CitaProgramada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Atencion_Triaje] Fecha de script: 4/06/2026 14:42:23 ******/
ALTER TABLE [dbo].[Atencion] ADD  CONSTRAINT [UQ_Atencion_Triaje] UNIQUE NONCLUSTERED 
(
	[id_Triaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_AtencionEstetica_Atencion] Fecha de script: 4/06/2026 14:42:23 ******/
ALTER TABLE [dbo].[AtencionEstetica] ADD  CONSTRAINT [UQ_AtencionEstetica_Atencion] UNIQUE NONCLUSTERED 
(
	[id_Atencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anamnesis] ADD  CONSTRAINT [DF_Anamnesis_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Asociado] ADD  CONSTRAINT [DF_Asociado_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Asociado] ADD  CONSTRAINT [DF_Asociado_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Atencion] ADD  CONSTRAINT [DF_Atencion_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[AtencionConsulta] ADD  CONSTRAINT [DF_AtencionConsulta_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[AtencionEstetica] ADD  CONSTRAINT [DF_AtencionEstetica_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[AtencionEstetica] ADD  CONSTRAINT [DF_AtencionEstetica_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[AtencionVacunacion] ADD  CONSTRAINT [DF_AtencionVacunacion_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[AtencionVacunacion] ADD  CONSTRAINT [DF_AtencionVacunacion_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Categoria] ADD  CONSTRAINT [DF_Categoria_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Categoria] ADD  CONSTRAINT [DF_Categoria_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[CategoriaProducto] ADD  CONSTRAINT [DF_CategoriaProducto_fechaCreada]  DEFAULT (getdate()) FOR [fechaCreada]
GO
ALTER TABLE [dbo].[CategoriaProducto] ADD  CONSTRAINT [DF_CategoriaProducto_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[CitaProgramada] ADD  CONSTRAINT [DF_CitaProgramada_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Consulta_Diagnostico] ADD  CONSTRAINT [DF_Consulta_Diagnostico_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[DocumentoIdentidad] ADD  CONSTRAINT [DF_DocumentoIdentidad_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Dueno] ADD  CONSTRAINT [DF_Dueno_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Dueno] ADD  CONSTRAINT [DF_Dueno_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Dueno_Mascota] ADD  CONSTRAINT [DF_Dueno_Mascota_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[EmpleadoAsociado] ADD  CONSTRAINT [DF_EmpleadoAsociado_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[EmpleadoAsociado] ADD  CONSTRAINT [DF_EmpleadoAsociado_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[EspecieRaza] ADD  CONSTRAINT [DF_EspecieRaza_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[EstadoProgramacion] ADD  CONSTRAINT [DF_EstadoProgramacion_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Mascota] ADD  CONSTRAINT [DF_Mascota_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Mascota] ADD  CONSTRAINT [DF_Mascota_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[MetodoIngreso] ADD  CONSTRAINT [DF_MetodoIngreso_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[MetodoPago] ADD  CONSTRAINT [DF_MetodoPago_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Nivel_Permiso] ADD  CONSTRAINT [DF_Nivel_Permiso_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Nivel_Permiso] ADD  CONSTRAINT [DF_Nivel_Permiso_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[NivelSuscripcion] ADD  CONSTRAINT [DF_NivelSuscripcion_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[NivelSuscripcion] ADD  CONSTRAINT [DF_NivelSuscripcion_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Permiso] ADD  CONSTRAINT [DF_Permiso_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Permiso] ADD  CONSTRAINT [DF_Permiso_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Presentacion] ADD  CONSTRAINT [DF_Presentacion_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Presentacion] ADD  CONSTRAINT [DF_Presentacion_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Programacion] ADD  CONSTRAINT [DF_Programacion_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Receta] ADD  CONSTRAINT [DF_Receta_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[RecetaDetalle] ADD  CONSTRAINT [DF_RecetaDetalle_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Rol_Permiso] ADD  CONSTRAINT [DF_Rol_Permiso_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[RolesClinica] ADD  CONSTRAINT [DF_RolesClinica_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[RolesClinica] ADD  CONSTRAINT [DF_RolesClinica_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Servicio] ADD  CONSTRAINT [DF_Servicio_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Servicio] ADD  CONSTRAINT [DF_Servicio_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[SuperAdmin] ADD  CONSTRAINT [DF_SuperAdmin_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[SuperAdmin] ADD  CONSTRAINT [DF_SuperAdmin_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Triaje] ADD  CONSTRAINT [DF_Triaje_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Triaje] ADD  CONSTRAINT [DF_Triaje_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[TriajeDetalle] ADD  CONSTRAINT [DF_TriajeDetalle_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Turno] ADD  CONSTRAINT [DF_Turno_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Turno] ADD  CONSTRAINT [DF_Turno_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Venta] ADD  CONSTRAINT [DF_Venta_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[VentaDetalle] ADD  CONSTRAINT [DF_VentaDetalle_fechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO


-- ============================================================
-- PARCHE 1: Eliminar columnas de texto temporal de Mascota
-- ============================================================
USE DBVet;
GO

IF EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('Mascota') AND name = 'especieTexto')
    ALTER TABLE Mascota DROP COLUMN especieTexto;

IF EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('Mascota') AND name = 'razaTexto')
    ALTER TABLE Mascota DROP COLUMN razaTexto;

PRINT 'Columnas eliminadas correctamente.';
GO

-- ============================================================
-- PARCHE 2: Correccion de datos en EspecieRaza y Mascota
-- ============================================================
IF NOT EXISTS (SELECT 1 FROM EspecieRaza WHERE nombre = 'Cocker' AND id_Especie = 1)
    INSERT INTO EspecieRaza (nombre, id_Especie, estado, fechaCreacion, id_EmpleadoCreador)
    VALUES ('Cocker', 1, 1, GETDATE(), 1);

UPDATE Mascota
SET id_Especie = 1,
    id_Raza    = (SELECT TOP 1 idEspecieRaza FROM EspecieRaza WHERE nombre = 'Cocker' AND id_Especie = 1)
WHERE nombre = 'Chester'
  AND fechaEliminacion IS NULL;

PRINT 'Registro de Chester corregido correctamente.';
GO
USE [master]
GO
